/* styling body */
body {
  font-size: 75px;
  font-family: 'Noto Music', sans-serif;

  margin: auto;

  line-height: 1.5;
}

/* styling title */
header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url(https://picsum.photos/id/1082/2000/1500);
  background-color: rgb(141, 57, 57);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.piano-card {
  /* styling single card */ 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  border-style: solid;
  border-color: lightgoldenrodyellow;

  height: 20vh;
  max-width: 50ch;
}

/* styling h3 */
h3 {
  font-family: 'Noto Music', sans-serif;
  font-size: 20px;

  display: flex;
  justify-content: center;

  color: black;
}

/* styling paragraph */
p {
  font-size: 20px;

  color: black;

  display: flex;
  justify-content: center;
}

/* styling button */
button {
  display: flex;
  justify-content: center;

  margin: auto;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;
  padding-left: 0;
  margin: 0;

  list-style: none;

  background-color: black;

  font-size: 25px; 
  
  display: flex;
  justify-content: flex-end;

  gap: 1rem ;
}

/* nav hover */
nav a:hover {
  background-color: lightsalmon;
}

/* nav buttons */
nav a {
  text-align: center;
  text-decoration: none;
  
  color: white;
}
