/*styling nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: black;
}

/* styling navbar*/
 nav ul {
  padding: 1rem;
 
  list-style: none;

  background-color: black;
 
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 1rem;

  margin: 0;
 }

/* nav hover */
nav a:hover {
  background-color: lightsalmon;
  
  padding: 0.5rem 0.5rem 01rem 0.5rem;
}

/* nav buttons */
nav a {
  color: white;
}