/*styled main element typography */
main {
  font-size: 15px;
}

/* styling h1 typography */
h1 {
  font-family: 'Noto Music', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

/*styling h2 typography */
h2 {
  font-family: 'Instrument Serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

/* styled h3 typography */
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}

/* styled button typography */
button {
  font-size: 20px;
}

/* styled nav ul typography */
nav ul {
  font-size: 25px;
}

/* styled nav buttons typography */
nav a {
  font-family: 'Noto Music', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (width > 50rem) {
  h1 {
    font-size: 100px;   
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }
}